/* 
  container for grid system that positions flags  
  max-width: 700px is controlling how close the flags are to eachother
  margin: 0 auto is centering the container on the page.
*/
.container{
  max-width: 700px;
  margin: 0 auto; 
}